body {
  margin: 0;
  padding: 0;
}


/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  --padding-top: 3.5rem;

  height: 100vh;
}

.giant-zebra {
	background: 
		/*linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), */
		linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), 
		url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x2048/dbf62b5eb129c6e8fbad620598e10e57/photo-1518709594023-6eab9bab7b23");
	background-position: 50%;
	background-size: cover;	
	--filter: brightness(0.5);
	font-weight: bold;
	color: Black;
}

.giant-zebra .container {
	--background-color: #00000044;
	padding: 1em;

}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
